#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# 突发新闻配置
########################################
#
#    BreakingNews.Enable
#        描述: 在角色选择界面启用突发新闻消息。
#        默认值:     0 - 禁用
#                    1 - 启用
#

BreakingNews.Enable = 0

#
#    BreakingNews.Title
#        描述: 显示在突发新闻正文上方的标题。
#        默认值:     "服务器公告"
#

BreakingNews.Title = "服务器公告"

#
#    BreakingNews.HtmlPath
#        描述: 要显示为突发新闻正文的HTML文件路径。
#        注意: 可以是绝对路径或相对路径。
#        默认值:     "./breakingnews.html"
#

BreakingNews.HtmlPath = "./breakingnews.html"

#
#    BreakingNews.Cache
#        描述: 在启动时缓存突发新闻。
#        注意: 将此设置为0将在每次登录时从文件中提取更新的新闻。
#                    0 - 禁用
#        默认值:     1 - 启用
#

BreakingNews.Cache = 1

#
#    BreakingNews.Verbose
#        描述: 启用详细日志以进行调试。
#        注意: 不要在生产环境中保持此设置开启。
#        默认值:     0 - 禁用
#                    1 - 启用
#

BreakingNews.Verbose = 0

